.topbar {
    display: flex;
    justify-content: flex-end; /* Align the profile container to the right */
    align-items: center;
    background-color: #f5f5f5; /* Adjust as per your design */
    padding: 10px 20px;
    height: 50px;
     /* Add a subtle border */
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    gap:10px;
  }
  
  .notification-icon {
    margin-right: 15px; /* Space between bell icon and profile picture */
    position: relative;
    cursor: pointer;
  }
  
  .notification-icon::after {
    content: '';  /* Small notification badge */
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }
  
  .profile-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;  /* Make the image circular */
    cursor: pointer;
  }
  