.employeeList-container {
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.employeeList-tableContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.employeeList-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.employeeList-topBar {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.employeeList-searchInput,
.employeeList-filterSelect {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.employeeList-searchInput{
    width: 100%;
}

.employeeList-filterSelect {
    min-width: 150px;
}

.employeeList-table {
    width: 100%;
    border-collapse: collapse;
}

.employeeList-table th, .employeeList-table td {
    padding: 12px;
    text-align: left;
    background-color: transparent;
    border-bottom: 1px solid #ddddddb6;
}

.employeeList-table th {
    font-weight: 600;
}

.employeeList-table a {
    color: blue;
    text-decoration: underline;
}

.employeeList-actionIcons {
    display: flex;
    gap: 8px;
}

.employeeList-actionIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.employeeList-editBtn, .employeeList-deleteBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.employeeList-message {
    margin-bottom: 15px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.employeeList-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.employeeList-popupContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.employeeList-popupActions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.employeeList-popupActions button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.employeeList-popupActions button:first-child {
    background-color: #ccc;
}

.employeeList-popupActions button:last-child {
    background-color: red;
    color: white;
}

