@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.expired-root-container{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height:100%;
   
}
.expired-title-top{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.expireddd-container {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 
}

.expired-header {
    display: flex;
 
    align-items: center;
    margin-bottom: 20px;
}

.expired-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}

.expired-search {
    display: flex;
    gap: 10px;
    padding-left: 50px;
    align-items: center; /* Aligns items vertically center */
}

.expired-input {
    font-family: 'Poppins', sans-serif;
    padding: 8px 12px;
    border: 0px solid #FFFFFF;
    border-radius: 10px;
    width: 300px; 
    background-color: #F2F4F8;/* Fixed width for search input */
}

.expired-datepicker {
    font-family: 'Poppins', sans-serif;
    padding: 6px 12px;
    border: 0px solid #FFFFFF;
    border-radius: 10px;
    background-color: #F2F4F8;
}

.expired-table {
    width: 100%;
    border-collapse: collapse;
}

.expired-thead {
    background-color: #eee;
}

.expired-th, .expired-td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.expired-td {
    background-color: #fff;
    color: #696969;
}

.expired-row:hover {
    background-color: #f1f1f1; /* Change background on hover */
}

.expired-action-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.expired-action-img {
    width: 20px;
    height: 20px;
}

#expired-buttons{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#headingexpired{
    color: #000000;
}