body {
  font-family: 'Poppins', sans-serif;
}

.selfnewsbiggestcontainer {
  padding: 20px;
 
  width: 100%;
  box-sizing: border-box;
}

.selfnews-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  
}

.selfnews-heading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.selfnews-form {
  display: flex;
  flex-direction: column;
}

.selfnewsinput-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.selfnewsinput-field {
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
  padding-bottom: 80px;
  padding-top: 5px;
  padding-left: 12px;
  width: 50%;
}

.selfnewsoptionalfield {
  width: 46%;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.selfnewsfile-upload {
  margin-bottom: 20px;
}

.custom-file-upload {
  background-color: #FFFFFF;
  border: 1px solid;
  color: #1918BC;
  font-weight: 400;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.file-input {
  display: none;
}

.file-upload-info {
  font-size: 12px;
  color: #000000;
  font-style:italic;
}

.image-preview-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  object-fit: cover;
}

.selfnewscheckbox-group {
 
  padding-bottom: 50px;
  padding-top: 20px;
}

.selfnewscheckboxes label {
  display: inline-block;
  margin-right: 20px;
  padding-top: 15px;
}

.selfnewssubmit-btn {
  background-color:#E56821;
  
  font-family: 'Poppins', sans-serif;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
}

.selfnewssubmit-btn:hover {
  background-color: #e06100;
}
.selfnewspreviewflex{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.textbuttonflex{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 10px;
}

.fullpreviewflex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.selfnewstoptitle{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

.optional-text {
  color: gray; /* Change this to whatever color you like */
}

