
.user-list-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
.dashboard-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.statistics-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  width: 23%;
  border-radius: 20px;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.icon {
  width: 40px;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.search-filter-section {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;

}

.search-input {
  width: 300px;
}

.date-input {
  margin-right: 20px;
}

.filter-button {
  margin-right: 20px;
  background-color: #f9f9f9;
}

.table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.visiting-card-img {
  cursor: pointer;
  width: 50px;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-image {
  width: 100%;
  height: auto;
}

.userlist-action-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.userlist-action-img {
  width: 20px;
}
.custom-date-picker {
  display: flex;
  justify-content: center;  /* Centers the date picker and button horizontally */
  align-items: center;      /* Centers them vertically if needed */
  width: 100%;


  gap: 60px; 
  display: flex;        /* Optional: Add some spacing above if necessary */
}

.date-picker {
  width: auto;  /* Adjust width as needed */
  margin-right: 20px; /* Adds space (20px) between the date picker and the filter button */
}

.filter-button {
  margin-left: 0; /* Reset the margin left since the gap is now handled by .date-picker */
}

