@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.expired-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px; /* Rounded corners for better aesthetics */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.expired-header {
    display: flex;
 
    align-items: center;
    margin-bottom: 20px;
}

.expired-title {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.expired-search {
    display: flex;
    gap: 10px;
    padding-left: 50px;
    align-items: center; /* Aligns items vertically center */
}

.expired-input {
    font-family: 'Poppins', sans-serif;
    padding: 8px 12px;
    border: 0px solid #ccc;
    border-radius: 10px;
    width: 300px; 
    background-color: #F2F4F8;/* Fixed width for search input */
}

.expired-datepicker {
    font-family: 'Poppins', sans-serif;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-radius: 10px;
    background-color: #F2F4F8;
}

.expired-table {
    width: 100%;
    border-collapse: collapse;
}

.expired-thead {
    background-color: #eee;
}

.expired-th, .expired-td {
    padding: 12px 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #FFFFFF;
}

.expired-td {
    background-color: #fff;
}

.expired-row:hover {
    background-color: #f1f1f1; /* Change background on hover */
}

.expired-action-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.expired-action-img {
    width: 20px;
    height: 20px;
}
.tablebg{
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    
}

.pagetitle{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    
}

#flexbuttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#tableheadingreject{
    font-weight: 600;
    color: #000000;
}