@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.couponList-container {
    padding: 20px;
}

.couponList-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.couponList-card {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.couponList-searchFilter {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.couponList-searchInput,
.couponList-dateInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.couponList-searchInput{
    width: 100%;
}
.couponList-table {
    width: 100%;
    border-collapse: collapse;
}

.couponList-table th, .couponList-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eae6e6;
    white-space: normal; /* Allow text wrapping */
    word-wrap: break-word; /* Ensure long words break correctly */
    max-width: 200px; /* Optional: control max-width to wrap text within the cell */
}
.couponList-table th {
    font-weight: 600;
}

.couponList-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.couponList-action-img {
    width: 20px;
    height: 20px;
}

.couponList-editBtn,
.couponList-deleteBtn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.status-active {
    color: green;
    font-weight: bold;
}

.status-expired {
    color: red;
    font-weight: bold;
}
.couponList-message {
    margin-bottom: 15px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.couponList-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.couponList-popupContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.couponList-popupActions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.couponList-popupActions button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.couponList-popupActions button:first-child {
    background-color: #ccc;
}

.couponList-popupActions button:last-child {
    background-color: red;
    color: white;
}
